/* ce fichier le code de la mise en page de la premiere page d'acceuil */ 
body{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0;
}
header{
    height:100vh ;
    background-color: rgb(0, 0, 0);
    background-image: url('../IMAGES/monochrome-photo-of-triangle-shape-digital-wallpaper-3137064.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
button a{
    text-decoration: none;
    text-align: center;
    color: black;
}

button a:hover{
    text-decoration: none;
    text-align: center;
    color: black;
}
nav{
    width: 100%;
    position: fixed;
    background-color: rgba(109, 107, 107, 0.376);
    font-family: 'Orbitron', sans-serif;
    font-size:12px;
    z-index: 2;
}
h1{
    font-size:20em;
    position: relative;
    left: 350px;
    top: 100px;
    width: min-content;
    color:rgb(0, 247, 255);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
#logButton {
    background-color: rgb(0, 247, 255);
    position: relative;
    top: 5em;
    left: 41%;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}


.nav-pills{
    width: 100%;
}
.nav-pills .nav-link.active{
    background-color: rgb(0, 247, 255);
    color: black;
}
.nav-pills .nav-link{
    background-color:transparent;
    color:white;
}

.nav-link:hover{
    background-color: rgb(0, 247, 255);
    color: black;
}


h3{    
    text-align:  center;
    color: aqua;
    background-color: rgb(97, 94, 94);
    width: min-content;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    left: 40%;
    bottom: 30px;
    z-index: 1;
}

p{
    color:white;
}
section{
    height:100vh;
}

#Présentation{
    height: 50vh;
    background-color: white;
}

#Présentation p {
    color: black;
}

#Présentation h3 {
    left: 42%;
}

#Team{
    height:70vh;
    background-color: black;
}

#Team h3{
    left: 45%;
}


#Team #row{
    width: auto;
    height: 45vh;
    margin-left: 6em;
}

#row .card{
    float : left;
    margin-right: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card p{
    color: black;
}

#row .card:hover{
    box-shadow: 0 8px 16px 0 rgb(8, 158, 163);
    cursor: pointer;
}

#row img{
    height: 30vh;
}

#Stats{/*rgb(61, 74, 85);*/
    background-color: white;
}

#Stats h3{/*rgb(61, 74, 85);*/
    left: 42%;
}

#Jouer{
    height: 30vh;
    background-color: black;
}
#Jouer p{
    font-size: larger;
    font-weight: 800;
    margin-left: 3em;
}
#Jouer h3{
    width: 15%;
    margin-bottom: 20px;
}
#playIAButton {
    background-color: rgb(0, 247, 255);
    color: black;
    float: right;
    position: relative;
    right: 5%;
    bottom: 20%;
    padding-left: 50px;
    padding-right: 50px;
}
#Events{
    height: 70vh;
    background-color: white;
}

#carouselExampleCaptions img{
    width: min-content;
    height: 50vh;
}
#Contact{
    height:53vh;
    background-color: rgb(61, 74, 85);
}

#Contact h3{
    left: 43%;
}

#contact-container{
    background-color: black;
    float: left;
    width: 43%;
    height: 40vh;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}
#contact-form h2{
    text-align: center;
}

#contact-form input{
    width: 100%;
}
#contact-form{
    height: 50%;
}

#socialMediaAccounts{
    width: 40%;
    float: right;
}
#socialMediaAccounts i{
    padding-right: 1em;
}

#socialMediaAccounts h2{
    color: white;
    padding-bottom: 30px;
    width: max-content;
}

#contact-form #submitContactForm{
    width: 30%; 
    position: relative;
    bottom: 3em;
    left: 25em;
}
#Copyrights{
    position: relative;
    left: 62%;
    bottom: 20%;
    color:white;
    text-decoration: underline;
    width: max-content;
    z-index: 5;
}

